.col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9 {
    padding-top: .5rem;
    padding-bottom: .5rem;
}


.col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9 {
    padding-top: .5rem;
    padding-bottom: .5rem;
}

.col-xs, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    padding-top: .5rem;
    padding-bottom: .5rem;
}

/* Dashboard Styles */

body {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",Arial,sans-serif;
    background-color: #f7f7f7;
}

.box {
    border: 1px solid #f1f1f1;
    background-color: #fcfcfc;
}

.box .title, .box .widget {
    margin: auto;
}

.box .title {
    color: #4a4a4a;
    text-align: center;
    margin-bottom: 5px;
    margin-top: 10px;
    font-weight: 600;
    font-size: 12px;
    text-transform: uppercase;
}

.box .widget {
    height: 135px;
}

.box .text-widget {
    display: flex;
    align-items: flex-end;
}

.box .text-widget .value {
    color: #1f77b4;
    font-size: 46px;
    text-align: center;
    flex: 1;
}

.legend {
    margin: 10px auto;
    text-align: center;
    height: 11px;
    font-size: 11px;
    line-height: 11px;
    text-transform: uppercase;
}

.legend div {
    display: inline-block;
    vertical-align: bottom;
    color: #757575;
    font-weight: 500;
}

.legend .legend-box {
    width: 11px;
    height: 11px;
}

.legend .legend-item {
    padding: 0 4px;
}

.legend-box.category-0 {
    background-color: #1f77b4;
}

.legend-box.category-1 {
    background-color: #ff7f0e;
}

.legend-box.category-2 {
    background-color: #2ca02c;
}

.legend-box.category-3 {
    background-color: #d62728;
}

.legend-box.category-4 {
    background-color: #9467bd;
}

.legend-box.category-5 {
    background-color: #8c564b;
}

.legend-box.category-6 {
    background-color: #e377c2;
}

.legend-box.category-7 {
    background-color: #7f7f7f;
}

.legend-box.category-8 {
    background-color: #bcbd22;
}

.legend-box.category-9 {
    background-color: #17becf;
}