.col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9 {
    padding-top: .5rem;
    padding-bottom: .5rem;
}


.col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9 {
    padding-top: .5rem;
    padding-bottom: .5rem;
}

.col-xs, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    padding-top: .5rem;
    padding-bottom: .5rem;
}

/* Dashboard Styles */

body {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",Arial,sans-serif;
    background-color: #f7f7f7;
}

.box {
    border: 1px solid #f1f1f1;
    background-color: #fcfcfc;
}

.box div {
    margin: auto;
}

.box .title {
    color: #4a4a4a;
    background-color: #fff;
    text-align: center;
    margin-bottom: 5px;
    margin-top: 10px;
    font-weight: 600;
    font-size: 12px;
    text-transform: uppercase;
}

.box .chart {
    background-color: #ffffff;
    height: 135px;
}