<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>ExpVar Dashboard</title>
        <link href="https://fonts.googleapis.com/css?family=Roboto:400,300,500" rel="stylesheet" type="text/css">
        <script src="static/js/jquery-3.1.1.min.js"></script>
        <script src="static/js/d3.min.js"></script>
        <script src="static/js/epoch.min.js"></script>
        <link rel="stylesheet" href="static/css/flexboxgrid.min.css" type="text/css">
        <link rel="stylesheet" type="text/css" href="static/css/epoch.min.css">
        <link rel="stylesheet" type="text/css" href="static/css/dashboard.css">
    </head>
    <body>
        <div class="container">
            {{ range $index, $row := .Layout.Rows }}
            <div class="row">
                {{ range $index, $col := $row.Cols }}
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-{{$col.Size}}">
                    <div class="box">
                        <div class="title">{{$col.Title}}</div>
                        <div id="{{$col.ID}}" class="widget"></div>
                        <div class="legend">
                            {{ range $index, $name := $col.Series }}
                            <div class="legend-item">
                                <div class="legend-box category-{{ $index }}"></div>
                                <div class="legend-name">{{ $name }}</div>
                            </div>
                            {{ end }}
                        </div>
                    </div>
                </div>
                {{ end }}
            </div>
            {{ end }}
        </div>
        <script>
            var widgets = {};
            var ws = new WebSocket("ws://localhost:{{ .Port }}/updates");
            ws.onmessage = function(e) {
                var updates = JSON.parse(e.data);
                updates.lc.forEach(function(update) {
                    var c = widgets[update.i];
                    if (!c) {
                        var series = [];
                        for (i = 0; i < update.p.length; i++) {
                            series.push({
                                label: 'Series ' + i,
                                values: []
                            });
                        }
                        c = $('#'+update.i).addClass('epoch line-chart').epoch({
                            type: 'time.line',
                            axes: ['left', 'bottom'],
                            data: series,
                        });
                        widgets[update.i] = c;
                    }
                    c.push(update.p);
                });
                updates.g.forEach(function(update) {
                    var c = widgets[update.i];
                    if (!c) {
                        c = $('#'+update.i).addClass('epoch gauge-small').epoch({
                            type: 'time.gauge'
                        });
                        widgets[update.i] = c;
                    }
                    c.update(update.v);
                });

                updates.t.forEach(function(update) {
                    var c = widgets[update.i];
                    if (!c) {
                        c = $("<div class='value'></div>");
                        widgets[update.i] = c;

                        $('#'+update.i).addClass('text-widget').append(c);
                    }
                    c.text(update.v);
                });
            };
            ws.onerror = function() {
                // TODO: show error message
            }
            ws.onclose = function() {
                // TODO: show error message
            }
        </script>
    </body>
</html>